opencv-python==4.5.4.60
sklearn==0.0
numpy==1.21.4
pip==21.1.1
toml==0.10.2
wheel==0.36.2
cryptography==3.4.7
py==1.10.0
pytest==6.2.4
setuptools==56.0.0
cffi==1.14.5
scipy==1.7.3
joblib==1.1.0
scikit-learn==1.0.1
threadpoolctl==3.0.0